 <!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-
    scale=1.0">
    <title>Secure Auth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <div class="container">
        <div id="message-box" class="hidden"></div>
                
        <h2>Login</h2>
        <form id="login-form">
            <input type="text" id="login-user" placeholder="Username" required>
            <input type="password" id="login-pass" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>

        <hr>

        <h2>Register</h2>
        <form id="register-form">
            <input type="text" id="reg-user" placeholder="Choose Username" required>
             <input type="password" id="reg-pass" placeholder="Choose Password" required>
            <button type="submit">Register</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>